body.dark-mode {
  background-color: $color-dark;
  color: $color-cream-white;
}

.dark-mode {
  --primary-color: $color-dark;
  --secondary-color: $color-dark-green;
  background-color: $color-dark;
  color: $color-cream-white;
}

.toggle-dark-mode {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  outline: none;
  color: $color-dark;
}

.toggle-dark-mode.dark {
  color: $color-white;
}

.toggle-dark-mode:hover,
.toggle-dark-mode:focus,
.toggle-dark-mode:active {
  background: none !important;
  box-shadow: none !important;
  border: none !important;
  outline: none !important;
}

.toggle-switch {
  position: relative;
  width: 80px; // Reduced from 100px
}

.toggle-switch label {
  position: absolute;
  width: 100%;
  height: 40px; // Reduced from 50px
  background-color: $color-dark;
  border-radius: 20px; // Reduced from 25px
  cursor: pointer;
}

.toggle-switch input {
  position: absolute;
  display: none;
}

.toggle-switch .slider {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  transition: 0.3s;
}

.toggle-switch input:checked ~ .slider {
  background-color: $color-cream-white;
}

.toggle-switch .slider::before {
  content: "";
  position: absolute;
  top: 5px; // Adjusted from 6px
  left: 6px; // Adjusted from 8px
  width: 30px; // Reduced from 38px
  height: 30px; // Reduced from 38px
  border-radius: 50%;
  box-shadow: inset 14px -2px 0px 0px $color-cream-white;
  background-color: $color-dark;
  transition: 0.3s;
}

.toggle-switch input:checked ~ .slider::before {
  transform: translateX(38px); // Adjusted from 48px
  background-color: $color-dark;
  box-shadow: none;
}

body {
  h2 {
    color: $color-dark;
  }
}

body.dark-mode {
  h2 {
    color: $color-cream-white;
  }
}