@import 'colors';

nav {
  padding: 15px 20px;

  .logo {
    height: 50px;
    cursor: pointer;
    margin-right: auto;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;

    li {
      font-size: 150%;
      display: inline-block;
      padding: 10px;

      a {
        color: $color-dark;
        text-decoration: none;

        &:hover {
          color: $color-cream-white;
        }
      }
    }

    .current {
      color: $color-dark-green;
    }
  }

  @media (max-width: 1119px) {
    padding: 0;

    ul {
      display: none;

      &.open {
        display: flex;
        flex-direction: column;
        background-color: $color-green;
        width: 100vw;
        height: 100vh;
        justify-content: flex-start;
        align-items: center;
        padding-top: 20%;
        z-index: 99;
      }
    }
  }
}

.connect-wallet-button {
  font-size: 1rem;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: $color-dark;
  color: white;
  cursor: pointer;
  width: 200px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: background-color 0.4s ease, transform 0.4s ease;


  &:hover {
    background-color: $color-dark-green;
  }

  .nav-wallet-button {
    position: relative;
  }
}

.nav-wallet-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .nav-wallet-button {
    margin-right: 20px;
  }

}
.connect-wallet-button:active {
  background-color: $color-green;
  transform: scale(1.1);
}

.chainswitcher select {
  font-size: 1rem;
  background-color: $color-dark;
  color: white;
  border-radius: 4px;
  padding: 11.5px;
  cursor: pointer;
  border: none;
  width: 200px;
  text-align: center;

  &:hover {
    background-color: $color-dark-green;
  }

  .chainswitcher select option:disabled {
    color: $color-dark;
  }

}

.nav-extra {
  @media (max-width: 1240px) {
    font-size: 0.8rem;

    .connect-wallet-button,
    .chainswitcher select {
      width: 150px;
    }
  }

  @media (max-width: 1119px) {
    padding: 0;
  
      &.open {
        display: flex;
        flex-direction: column;
        background-color: $color-green;
        width: 100vw;
        height: 100vh;
        justify-content: flex-start;
        align-items: center;
        padding-top: 20%;
        z-index: 99;
      }
    }
  }